*{
  margin: 0;
  padding: 0;
}

body{
  background: black;
  color: white;
}

.movie-app > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
}

.CoverImage{
height: 25rem;
max-height: 25rem;
width: 16rem;
margin-left: -1rem;
background: black;
}

.image-container{
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 17rem;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
  margin-left: -1rem;
}

.movieCard{
  background: black;
}